a{
    outline-color: aquamarine;
}
h1{
    color:bisque
}
p{
    color:rgb(36, 10, 10)
}
.carousel-item{
    text-align: center;
    border-image: space;
    height: 700px;
    width: 100%;
}

h1{
    color: #5b2323;
}
h5{
    color:blueviolet
}
.great{
    text-decoration: dotted;
    text-align: center;
}
.star{
    padding: left 20px;
  padding: right 20px;
  color:white
}
.word{
    background-image: image();
}